{% load static %}
<section class="clients">

<div class="container">

    <div class="clients-inner">

        <h2 class="clients-tittle">Our customers say</h2>

        <div class="clients-about">
            <img class="clients-about-img" src="{% static 'images/Ellipse 16.png' %}" alt="">
            <h2 class="clients-about-tittle">Starla Virgoun</h2>
            <p class="clients-about-text">Financial advisor</p>
        </div>

        <div class="clients-about-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis ultricies at eleifend proin. Congue nibh nulla malesuada ultricies nec quam</p>
            <img class="dot1" src="{% static 'images/dots.png' %}" alt="">
            <img class="dot2" src="{% static 'images/dots.png' %}" alt="">
        </div>

        <img class="clients-about-user" src="{% static 'images/user.png' %}" alt="">

    </div>

</div>

</section>
