{% load static %}
<main class="container">

    <main class="main-content">

        <div>
            <div class="main-coyent_about">Restauran</div>

            <h1>Italian<br> Cuisine</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sodales senectus dictum arcu sit tristique donec eget.</p>

            <div class="main-content__buttons">
                <a href="#">
                    Order now
                </a>

                <a href="#">
                    Reservation
                </a>
            </div>
        </div>
            <img src="{% static 'images/main_bg.png' %}" alt="">
        <div></div>

    </main>

 </main>