{% load static %}
<section class="menu">

    <div class="container">

        <h2>Our popular menu</h2>

        <div class="menu-buttons">
            <a class="checked" href="">All catagory</a>
            <a href="">Dinner</a>
            <a href="">Lunch</a>
            <a href="">Dessert</a>
            <a href="">Drink</a>
        </div>

        <div class="menu-items">

            <div class="menu-item">
                <img src="{% static 'images/menu/kisspng-italian-cuisine-pizza-naporitan-spaghetti-alla-put-top-view-spaghetti-bolognese-5add123c2c5952 2.png' %}" alt="">
                <h3>Spaghetti</h3>

                <div class="menu-item__raiting">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 5.svg' %}" alt="">
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas consequat mi eget auctor aliquam, diam.</p>

                <div class="menu-item__last">
                    <h4 class="menu-item__last-price">$12.05</h4>
                    <a href="#">Order now</a>
                </div>
            </div>
            <div class="menu-item">
                <img src="{% static 'images/menu/Mask Group.png' %}" alt="">
                <h3>Gnocchi</h3>

                <div class="menu-item__raiting">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 5.svg' %}" alt="">
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas consequat mi eget auctor aliquam, diam..</p>

                <div class="menu-item__last">
                    <h4 class="menu-item__last-price">$12.05</h4>
                    <a href="#">Order now</a>
                </div>
            </div>
            <div class="menu-item">
                <img src="{% static 'images/menu/Mask Group-1.png' %}" alt="">
                <h3>Rovioli</h3>

                <div class="menu-item__raiting">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 5.svg' %}" alt="">
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas consequat mi eget auctor aliquam, diam..</p>

                <div class="menu-item__last">
                    <h4 class="menu-item__last-price">$12.05</h4>
                    <a href="#">Order now</a>
                </div>
            </div>
            <div class="menu-item">
                <img src="{% static 'images/menu/Mask Group-4.png' %}" alt="">
                <h3>Penne Alla Vodak</h3>

                <div class="menu-item__raiting">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 5.svg' %}" alt="">
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas consequat mi eget auctor aliquam, diam..</p>

                <div class="menu-item__last">
                    <h4 class="menu-item__last-price">$12.05</h4>
                    <a href="#">Order now</a>
                </div>
            </div>
            <div class="menu-item">
                <img src="{% static 'images/menu/Mask Group-3.png' %}" alt="">
                <h3>Risoto</h3>

                <div class="menu-item__raiting">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 5.svg' %}" alt="">
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas consequat mi eget auctor aliquam, diam..</p>

                <div class="menu-item__last">
                    <h4 class="menu-item__last-price">$12.05</h4>
                    <a href="#">Order now</a>
                </div>
            </div>
            <div class="menu-item">
                <img src="{% static 'images/menu/Mask Group-2.png' %}" alt="">
                <h3>Splitza Signature</h3>

                <div class="menu-item__raiting">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 1.svg' %}" alt="">
                    <img src="{% static 'images/menu/Star 5.svg' %}" alt="">
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas consequat mi eget auctor aliquam, diam..</p>

                <div class="menu-item__last">
                    <h4 class="menu-item__last-price">$12.05</h4>
                    <a href="#">Order now</a>
                </div>
            </div>



        </div>

        <div class="menu-pag">

            <a class="back" href="#"><span><</span></a>

            <a class="page" href="#"><span>1</span></a>
            <a class="page" href="#"><span>2</span></a>
            <a class="page" href="#"><span>3</span></a>

            <a class="dot" href="#"><span>...</span></a>

            <a class="next" href="#"><span>></span></a>

        </div>


    </div>

</section>