{% load static %}
<section class="reserve">

    <div class="container">

        <div class="reserve-inner">

            <div class="reserve-left">
                <img src="{% static '/images/reserve.png' %}" alt="">
            </div>

            <div class="reserve-right">
                <h2>Let's reserve<br> <span>a table</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Facilisis ultricies at eleifend proin.<br> Congue nibh nulla malesuada ultricies nec quam</p>
                <a href="#">Reservation</a>
            </div>

        </div>

    </div>

</section>