{% load static %}
 <section class="time">

    <div class="time-inner">
        <img class="time-img" src="{% static 'images/time.png' %}" alt="">
        <div class="open-time">
            <h2>we are open from</h2>
            <h3>Monday-Sunday</h3>
            <p>Launch : Mon-Sun : 11:00am-02:00pm</p>
            <p>Dinner : sunday : 04:00pm-08:00pm</p>
            <p class="type3">04:00pm-09:00pm</p>

            <div class="button-time">
                <a class="left" href="#">Order now</a>
                <a class="right" href="#">Reservation</a>
            </div>


        </div>


    </div>

 </section>